# dependencies
node_modules/

# build outputs
dist/
coverage/

# TypeScript incremental cache
*.tsbuildinfo

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
